<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nie.mapper.RecodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nie.pojo.Recode">
        <id column="id" property="id" />
        <result column="doctor_id" property="doctorId" />
        <result column="patient_id" property="patientId" />
        <result column="create_time" property="createTime" />
        <result column="description_enbyp" property="descriptionEnbyp" />
        <result column="remark_enbyp" property="remarkEnbyp" />
        <result column="affrim" property="affrim" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doctor_id, patient_id, create_time, description_enbyp, remark_enbyp, affrim
    </sql>

</mapper>
